<div class="footer" style="color:#999; font-size:12px; text-align:center;">
    <p>黑马程序员 © 2017</p>
  </div>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>